Repository ROCm/hipSOLVER, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd, @ROCm/rocm-documentation

Add Azure Linux support
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

DnXpotrf
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

DnXpotrs
  CHANGELOG.md
  docs/reference/dense-api/lapack.rst
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Added 64-bit geqrf (#310)
  CHANGELOG.md
  clients/gtest/geqrf_gtest.cpp
  clients/include/hipsolver.hpp
  clients/include/hipsolver_dispatcher.hpp
  clients/include/testing_geqrf.hpp
  docs/reference/dense-api/lapack.rst
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Added 64-bit geqrf (#310)
  CHANGELOG.md
  clients/gtest/geqrf_gtest.cpp
  clients/include/hipsolver.hpp
  clients/include/hipsolver_dispatcher.hpp
  clients/include/testing_geqrf.hpp
  docs/reference/dense-api/lapack.rst
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

fix cuda build
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add api for DnXpotrf and DnXpotrs (#318)
  CHANGELOG.md
  docs/reference/dense-api/lapack.rst
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Add api for DnXpotrf and DnXpotrs (#318)
  CHANGELOG.md
  docs/reference/dense-api/lapack.rst
  library/include/internal/hipsolver-dense64.h
  library/src/amd_detail/hipsolver_dense64.cpp
  library/src/nvidia_detail/hipsolver_dense64.cpp
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

CHANGELOG for 6.3
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

CHANGELOG for 6.3
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

bump versions
  CHANGELOG.md
  CMakeLists.txt
  bump_hipsolver_version.sh
  library/CMakeLists.txt
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

correction
  CMakeLists.txt
Owners: @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Remove unused headings
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

Deprecate Fortran bindings in favour of hipfort (#312)
  CHANGELOG.md
  library/src/hipsolver_module.f90
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

Deprecate Fortran bindings in favour of hipfort (#312)
  CHANGELOG.md
  library/src/hipsolver_module.f90
Owners: @ROCm/rocm-documentation, @jzuniga-amd, @tfalders, @cgmb, @qjojo, @EdDAzevedo, @jmachado-amd

.github/CODEOWNERS:

* @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
# Documentation files
docs/ @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
.readthedocs.yaml @ROCm/rocm-documentation
# Header directory for Doxygen documentation
library/include/ @ROCm/rocm-documentation @jzuniga-amd @tfalders @cgmb @qjojo @EdDAzevedo @jmachado-amd
