Repository ROCm/hipSOLVER, pull requests merged in 2024-03, with the labels that each got.

#238 Update link
  docs/reference/refactor-api/index.rst
Labels: ci:docs-only

#240 codeowners update
  .github/CODEOWNERS
Labels: noCI

#232 Re-enable static library ci job
  .jenkins/static.groovy
Labels: ci:static-libraries
