Repository ROCm/hipSOLVER, pull requests merged in 2025-02, with the labels that each got.

#359 remove hipblasLT and move rocPRIM for static CI jobs
  .jenkins/static.groovy
Labels: ci:static-libraries

#361 Use amdclang++ instead of hipcc in static builds
  install.sh
Labels: ci:static-libraries

#365 Fix broken link to LAPACK info
  docs/howto/usage.rst
Labels: documentation, ci:docs-only

#370 Change package description to ROCm
  CMakeLists.txt
Labels: ci:docs-only

#366 Cherry-pick to release/rocm-rel-6.4: Fix broken link to LAPACK info (#365)
  docs/howto/usage.rst
Labels: documentation, ci:docs-only
